
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;

}

.sign-in-container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  margin: 0 0 20px;
}

input {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0 10px;
  display: inline;
}

/* styles.css */
/* ... (previous styles) */

.nav {
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s; /* Add smooth color transition effect */
}

.nav a:hover {
  text-decoration: underline;
  color: #0056b3; /* Change color on hover */
}

.nav a.active {
  text-decoration: underline;
  font-weight: bold; /* Style the active link differently */
}
.nav {
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex; /* Use flex display */
  justify-content: space-around; /* Add space around elements */
  align-items: center; /* Vertically center elements */
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Use flex display */
}

.nav-item {
  margin: 0 10px;
  display: inline;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

.nav-link.active {
  text-decoration: underline;
  font-weight: bold;
}
/* Add this code to your CSS file */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #007bff;
  color: white;
}
td > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  /* Ensure the button takes the full height of the row */
}
td > div > button {
  margin-left: 10px; /* Adjust the margin as needed */
}
